body {
  margin: auto;
  padding: 4;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #D9AFD9, #97D9E1);
  min-height: 100vh;
}

.container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #bff0a3;
}
.img{
  border-radius: 100%; 
   width: 7vh;
   height: 7vh; 
 }
h2 {
  font-size: 34px;
  font-weight: 600;
}

.text {
 
  font-weight: 500;
  margin:auto ;
}

#w,
#h {
  color: #222f3e;
  /* text-align: left; */
  font-size: 2rem;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #341f97;
  width: 200px;
}

#w:focus,
#h:focus {
  border-bottom: 2px solid #341f97;
  width: 300px;
  transition: 0.5s;
}

#result {
  color: #341f97;
  margin: auto;
}

#btn {
  font-family: inherit;
  margin: auto;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-image: linear-gradient(120deg, #7d345a, #9ece0e);
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn:hover {
  box-shadow: 1px 1px 10px #341f97;
}

#info {
  font-size: 1rem;
  font-family: inherit;
  margin-top: 15px;
}
